{% extends 'base.html' %}
{% block content %}
<form action="{% url 'create_form' %}" method="post">
    <div class="trytopnav">
        <div class="w3-bar">
            <button class="runbtn" type="submit">Run ❯</button>
        </div>
    </div>
    <div class="content">
        <div class="textareacontainer">
            <div class="textarea">
                <div class="textareawrapper">
                    {% csrf_token %}

                    <textarea autocomplete="off" class="textareaCode" wrap="logical"
                              spellcheck="false" name="code" required>print("Hello, World!")
                    </textarea>

                </div>
            </div>
        </div>

        <div class="textareacontainer">
            <div class="iframe textarea">
                <div class="runloadercontainer">
                    <div class="runloader"></div>
                </div>
                <div class="iframewrapper">
                    <div class="iframeResult" style="position:relative;white-space:nowrap;overflow:auto;">

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
{% endblock content %}